/*==============================================
GENERAL FORMS
===============================================*/

.form-container{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 120px;

    @media screen and (max-width: 768px){
        margin: 0px;
        padding: 15px;
        height: 100%;
    }
}

.module-inscription{
    margin-top: 50px;
}

.form-wrapper{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 90px;
}

.form-title{
    text-align: center;
    font-size: 18px;
}

.form-subtitle{
    text-align: center;
    color: #222;
    font-size: 20px;
    margin-top: 40px;
}

.forms-container{
    margin-top: 90px;
}

.form-group .col-xs-12{
    text-align: center;
}

.form-padding{
    padding: 20px !important;
}

textarea{
    resize: none;
    outline: none;
    min-height: 140px;
}

.contact-label{
    text-align: left;
    color: $text-color;
    font-weight: 400;
    text-align: left;
    display: block;
}

.contact-input{
    width: 100%;
    border:0;
    opacity: .8;
    padding: 15px 10px;
    transition: opacity .2s ease-out;
    font-size: 16px;
    font-family: 'Amiri', serif;
    padding-left: 15px;
    background-color: transparent;
    text-align: left;
    border: 2px solid #fff;

    @media screen and (max-width: 992px){
        margin-bottom: 10px;
    }

    &:focus{
        opacity: 1;
        transition: opacity .2s ease-out;
    }
}

.form-button{
    max-width: 160px;
    font-size: 18px;
    border-radius: 3px;
    padding: 10px 25px;
    cursor: pointer;
    color: $primary-color;
    transition: all .2s ease-in-out;
    float: right;
    background-color: #fff;
    transition: all .2s ease-in-out;
    font-weight: 700;

    @media screen and (max-width: 768px){
        display: block;
        float: none;
        margin-top: 20px;
    }

    &:hover{
        color: #fff;
        background-color: $primary-color;
        transition: all .2s ease-in-out;
    }

}

.form-bottom-container{
    margin-top: 20px;

    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

.form-submit{
    color: $terciary-color;
    background-color: transparent;

    .zmdi{
        margin-left: 20px;
    }

}

.form-bottom-text{
    font-style: italic;
    float: left;

    @media screen and (max-width: 768px){
        float: none;
        display: block;
        text-align: left;
        margin-top: 20px;
    }
}



/*=================================================
CheckBox Styling
==================================================*/

.checkbox-label{
    text-align: left;
    color: $primary-color;
    float: left;
    font-style: italic;
}

.checkbox-container{
    display: block;
    margin-top: 10px;

    &:after{
        content: "";
        clear: both;
        display: table;
    }
}

.checkbox-container-text{
    margin-right: 20px;
    float: left;
}

.checkbox-container-box{
    float: right;
}

.checkbox-text{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: $primary-color;
    font-weight: 700;
}

.checkbox-box{
    float: left;
    color: $primary-color;
    font-weight: 700;
}

.minusplusnumber{
    min-width: 100px;
   width: 80%;
    border: none;
    background-color: #FFF;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media screen and (max-width: 768px){
      width: 100%;
   }
    div {
       display: inline-block;
   }
   #field_container{
      width: 50%;
      text-align: center;

      input{
         width: 100%;
         padding: 0;
         text-align: center;
      }
   }
    .mpbtn {
      line-height: 50px;
      width: 20%;
      padding: 0 10px 0 10px;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
   }
}
.cart-form{
   @media screen and (max-width: 768px){
      margin-bottom: 30px;
   }
   .form-control{
      background-color: white !important;
   }
   .form-group{
      max-width: 290px;
      *{
         display: inline-block;
         vertical-align: top;
      }
      input{
         max-width: calc(100% - 44px);
      }
      .btn{
         height: 50px;
         width: 40px;
      }
   }
   .cart-form-results-displayer{
      margin-top: 10px;
   }
}
