/*====================================================
TEXTS
======================================================*/

.text-default{
    color: $text-color;
}

.text-primary{
    color: $primary-color;
}

.text-secondary{
    color: $secondary-color;
}

.text-bold{
    font-weight: bold;
}

.section-title{
    margin-bottom: 35px;
}

.section-subtitle{
    margin-bottom: 15px;
}
