// Dots
$slideshow-dot-bg-color             : $secondary-color !default;
$slideshow-dot-border-color         : $secondary-color !default;

// Arrows
$slideshow-arrow-color              : '#555555' !default;
$slideshow-arrow-h-color            : '#999999' !default;
