/*===============================================
Features Styling
===============================================*/

.features{
    width: 100%;
    padding: 55px;
    background-color: #fff;

    &__title{
        
    }

    &__subtitle{

    }

    &__container{

    }
}