/*==================================================
Navbar Stylings
===================================================*/

.navbar{
    width: 100%;
    padding: 10px;
    background-color: #fff;


    &__logo{
        width: 160px;
        display: inline-block;
        vertical-align: middle;

        img{
            width: 100%;
        }
    }

    &__search{
        display: inline-block;
        vertical-align: middle;
        margin-left: 10%;
        width: 55%;
        @extend .clearfix;

        @media screen and (max-width: 1200px){
            width: 50%;
        }

        @media screen and (max-width: 992px){
            width: 45%;
            margin-left: 5%;
        }

        @media screen and (max-width: 768px){
            display: block;
            width: 100%;
            margin-top: 10px;
            margin-left: 0px;
        }

        .search-input{
            height: 35px;
            width: 70%;
            padding-left: 10px;
            border: 1px solid $secondary-text-color;
            float: left;

            @media screen and (max-width: 992px){
                width: 50%;
            }

            @media screen and (max-width: 768px){
                width: 80%;
            }

            @media screen and (max-width: 475px){
                width: 60%;
            }
        }

        .search-button{
            height: 35px;
            width: 25%;
            background-color: $secondary-text-color;
            color: $primary-color;
            font-weight: 700;
            float: left;

            @media screen and (max-width: 992px){
                width: 40%;
            }

            @media screen and (max-width: 768px){
                width: 20%;
            }

            @media screen and (max-width: 475px){
                width: 40%;
            }

        }
    }

    &__store{
       float: right;
       margin-top: 17px;
       width: 20%;

       @media screen and (max-width: 992px){
           float: none;
           display: inline-block;
           vertical-align: middle;
           margin-top: 0px;
           width: 25%;
       }

       @media screen and (max-width: 768px){
           display: none;
       }



       &:after{
           content:"";
           display: block;
           clear: both;
       }


    }

    &__account{
        color: $text-color;

        @media screen and (max-width: 992px){
            display: inline-block;
            vertical-align: middle;
        }

        .zmdi{
            margin-right: 10px;
        }


    }

    &__shopping-bag{
        color: $primary-color;
        font-weight: 700;
        margin-left: 20px;
        float: right;

        @media screen and (max-width: 992px){
            float: none;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }

        .zmdi{
            margin-right: 10px;
        }
    }

    &__menu{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    &__list{
        list-style: none;
        display: inline-block;

        @media screen and (max-width: 768px){
            display: block;
            padding-left: 0px;
            text-align: center;
        }
    }
    &__submenu{
      ul{
         margin-top:5px;
      }
      .toggler{
         color: #7c869a;
         background-color: white;
         border-bottom:1px solid rgba(124, 134, 154, 0.3);
         border-top:none;
         border-left:none;
         border-right:none;
      }
    }
    &__item{
        display: inline-block;

        @media screen and (max-width: 768px){
            display:block;
            padding-left: 0px;
            text-align: center;
        }

        & + &{
            margin-left: 20px;

            @media screen and (max-width: 768px){
                margin-left: 0px;
                margin-top: 20px;
            }
        }


        &.dropdown{

        .navbar__link.mobile{
          display: block;
             @media screen and (min-width: 768px){
                display: none;
             }
          }
          .navbar__link.desk{
             display: none;
             @media screen and (min-width: 768px){
                display: block;
             }
          }
        }

        &--responsive{
            margin-top: 10px;
            display: block;
            a{
               display: block;
               line-height: 35px;
                color: $primary-color;
            }
            @media screen and (min-width: 768px){
                display: none;
            }


        }
    }

    &__link{
        color: $text-color;
    }

}

/*=======================================
Menu Styling
=======================================*/

@media (max-width: 768px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in{
        display:block !important;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        overflow: hidden;
        padding-bottom: 0;
        position: relative;
    }

    .navbar-collapse.collapse .navbar__menu{
        display: none;
    }

    .navbar-collapse.collapse.in .navbar__menu{
        display: block;
    }

    .navbar-collapse.collapsing{
        background-color: #fff;
        padding-top: 80px;
        padding-bottom: 80px;

    }

    .navbar-collapse.collapse.in{
        height: auto;
        padding-top:30px;
        padding-bottom: 30px;
    }
}



/*=============================================
Menu Button Animation
=============================================*/

.navbar-toggle.collapsed{
    transform: rotate(0deg);
    transition: transform .2s ease-out;
}

.navbar-toggle{
    transform: rotate(90deg);
    transition: transform .2s ease-out;
}

/*=============================================
Menu Button Bootrap Reset
===============================================*/

.navbar-toggle{
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 2;
    margin-top: 0px !important;

    .icon-bar{
        background-color: $primary-color !important;
    }
}
