/*===============================================
Newsletter Styling
================================================*/

.newsletter{
    width: 100%;
    padding: 60px 100px;
    background-color: $primary-color;

    &:after{
        content: "";
        display: block;
        clear: both;
    }

    &__title-container{
        width: 50%;
        float: left;

        @media screen and (max-width: 992px){
            width: 100%;
            float: none;
        }
    }

    &__title{
        color: #fff;
        text-transform: uppercase;
        margin: 0px;
        font-size: 35px;
        font-weight: 700;

        @media screen and (max-width: 992px){
            text-align: center;
        }
    }

    &__subtitle{
        color: #fff;
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 35px;

        @media screen and (max-width: 992px){
            text-align: center;
        }
    }

    &__form{
        width: 50%;
        float: left;

        @media screen and (max-width: 992px){
            width: 100%;
            float: none;
            margin-top: 20px;
        }

        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }

    &__form-title{
        width: 100%;
        text-align: center;
        color: $secondary-color;
    }

    &__input{
        width: 70%;
        float: left;
        padding: 10px;
        border: 1px solid $secondary-color;
        background-color: $primary-color;
        color: #fff;

        &::-webkit-input-placeholder {color:#fff;}
        &::-moz-placeholder          {color:#fff;}
        &:-moz-placeholder           {color:#fff;}
        &:-ms-input-placeholder      {color:#fff;}
    }

    &__button{
        width: 30%;
        float: left;
        color: #fff;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        padding: 10px;
        font-weight: 700;
    }

}