/*=======================================
Partners Styling
========================================*/

.partners{
    width: 100%;
    margin-top: 25px;

    &__slideshow{
        width: 100%;
        background-color: #fff;
        padding: 100px 0px;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 768px){
            padding: 40px;
            position: relative;
        }

        @media screen and (max-width: 475px){
            padding: 60px 0px;

        }
    }

    &__placeholder{
        width: 10%;
        height: 90px;
        display: inline-block;
        margin-left: 80px;

        @media screen and (max-width: 1200px){
            width: 20%;
        }

        @media screen and (max-width: 768px){
            width: 100px !important;
            margin-left: 0px;
            margin: 0 auto;
            width: 250px !important;
            height: 130px;
        }
    }

    &__image{
        width: 100%;
        height: 100%;
    }
}

.slick-prev--partners{
    position: absolute;
    bottom: 5px;
    left: calc(50% - 45px);
    top: initial !important;
    width: 45px;
    height: 45px;
    color: $text-color !important;
    font-size: 38px !important;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    cursor: pointer;

    &:hover{
        transition: opacity .3s ease-in-out;
        opacity: 1;
    }
}

.slick-next--partners{
    position: absolute;
    bottom: 5px;
    right: calc(50% - 45px);
    top: initial !important;
    width: 45px;
    height: 45px;
    color: $text-color !important;
    font-size: 38px !important;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    cursor: pointer;

    &:hover{
        transition: opacity .3s ease-in-out;
        opacity: 1;
    }
}