/*=======================================
Partners Styling
========================================*/

.partners{
    width: 100%;
    margin-top: 25px;

    &__slideshow{
        width: 100%;
        background-color: #fff;
        padding: 100px 0px;
        overflow: hidden;

        @media screen and (max-width: 768px){
            padding: 40px;
            position: relative;
        }
    }

    &__placeholder{
        width: 10%;
        height: 60px;
        display: inline-block;
        margin-left: 80px;

        @media screen and (max-width: 1200px){
            width: 20%;
        }

        @media screen and (max-width: 768px){
            width: 100px !important;
            margin-left: 0px;
            margin: 0 auto;
            width: 250px !important;
            height: 160px;
        }
    }

    &__image{
        width: 100%;
        height: 100%;
    }
}

